* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b5ead7;
}


/*Navbar*/

.navbar-nav a {
    font-size: 20px;
}

span {
    color: black;
}


/* Main */

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}


/* Card */

.li_hover {
    transition: all 0.3s ease;
}

.li_hover:hover {
    transform: scale(1.1);
}

.vinietas_card {
    list-style-type: none;
}


/* Detalle */

.detalle_orden {
    display: flex;
}

.detalle_titulos {
    margin-left: 70px;
}

.detalle_descripcion {
    width: 300px;
}


/* Footer */

footer {
    text-align: center;
}